USE [master]
GO
/****** Object:  Database [PlantDB]    Script Date: 2021-12-01 5:57:12 PM ******/
CREATE DATABASE [PlantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PlantDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PlantDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlantDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2021-12-01 5:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DCandidates]    Script Date: 2021-12-01 5:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCandidates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[waterStatus] [nvarchar](20) NULL,
	[lastTimeWater] [nvarchar](50) NULL,
	[watering] [bit] NOT NULL,
 CONSTRAINT [PK_DCandidates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211201172722_I', N'5.0.12')
GO
SET IDENTITY_INSERT [dbo].[DCandidates] ON 

INSERT [dbo].[DCandidates] ([id], [waterStatus], [lastTimeWater], [watering]) VALUES (1, N'low', N'2021-10-01T20:59:35.397Z', 0)
INSERT [dbo].[DCandidates] ([id], [waterStatus], [lastTimeWater], [watering]) VALUES (2, N'high', N'2021-12-01T22:43:48.284Z', 0)
INSERT [dbo].[DCandidates] ([id], [waterStatus], [lastTimeWater], [watering]) VALUES (3, N'low', N'2021-10-01T20:59:35.397Z', 0)
SET IDENTITY_INSERT [dbo].[DCandidates] OFF
GO
USE [master]
GO
